body {
    color: #333;
    font-family: 'CustomFont', sans-serif;
  }
  
  @font-face {
    font-family: 'CustomFont';
    src: url('../Copyduck.ttf') format('truetype');
  }
  
  .bg-header {
    background: url('../img/a.png') no-repeat center center;
    background-size: cover;
    background-color: #f7b501;

  }
  
  .bg-about {
    background: url('../img/web.png') no-repeat center center;
    background-size: cover;
  }
  
  .bg-social-media {
    background: url('../img/black.png') no-repeat center center;
    background-size: cover;
  }
  
  .bg-tokenomics {
    background: url('../img/black.png') no-repeat center center;
    background-size: cover;
  }
  
  .bg-roadmap {
    background: url('../img/web.png') no-repeat center center;
    background-size: cover;
  }
  
  .footerbg {
    background: url('../img/footer.png') no-repeat center center;
    background-size: cover;
    padding: 30%;
  }
  .vh-100 {
    height: 100vh;
  }

  .vh-300 {
    height: 120vh;
  }

  .vh-400{
    height: 190vh;
  }
  
  .text-whitesmoke {
    color: whitesmoke;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }
  
  .address {
    height: 50px;
  }
  
  .timeline-content {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .contens {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 2s;
  
}

  .contens.visible {
    opacity: 1;
    transform: translateY(0);
}

  @media (max-width: 767px) {
    .header {
      padding: 20px 10px;
      text-align: center;
    }

    .bg-header {
      background: url('../img/Headline.png') center;
      background-size: cover;
      background-color: #f7b501;
  
    }

    .bg-social-media {
      background: url('../img/Tokenomic.png') no-repeat center center;
      background-size: cover;
    }
    
    .bg-tokenomics {
      background: url('../img/Tokenomic.png') no-repeat center center;
      background-size: cover;
    }
    
    .vh-100 {
      height: auto;
    }

    .vh-300 {
        height: 230vh;
      }
    /* roadmap */
    
    .vh-400{
        height: 100vh;
      }
    /* bgimage mob */

    .container {
      padding: 10px;
    }
    
    .timeline-content {
      margin-bottom: 1rem;
      padding: 1rem;
    }
  }
  
